.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-bottom: 7px;
}

.input:focus {
}

.errorInput {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #CC0000;
    border-radius: 5px;
    margin-bottom: 7px;
}

.button {
    height: 36px;
    width: 78px;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    background: #0066CC;
    border-radius: 3px;
    color: white
}

.button:focus {
}

.button:active {
    opacity: 1;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.5;
    margin-bottom: 9px;
}

.greeting {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
